*.sw[pox]
.nvim
tags
*.taghl
*.ignore
__pycache__
dist
build
libcheesevoyage.egg-info

build
*_bmc
*_cover
*_prove
*.il

*.tar
*.gz
*.tar.*
*.zip
*.vcd
*.fst

*.o
*.a
simWorkspace
project
target
tmp
gtkwave

hw/gen/*.v
hw/gen/*.vhdl
hw/gen/*.vhd
hw/gen/*.bin
